<div class="example-button-container">
    <button mat-mini-fab color="primary" (click)="openDialog()" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
    </button>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="nmProduto">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nmProduto}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef> Fornecedor </th>
        <td mat-cell *matCellDef="let element"> {{element.fornecedor.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="validade">
        <th mat-header-cell *matHeaderCellDef> Validade </th>
        <td mat-cell *matCellDef="let element"> {{element.validade}} </td>
    </ng-container>


    <ng-container matColumnDef="Ação">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let element">
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <div class="example-button-container">
                            <button mat-mini-fab color="accent" (click)="delete(element.id)" aria-label="Example icon button with a menu icon">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>

                        <div class="example-button-container">
                            <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                <mat-icon>plus_one</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

